.frame[data-v-409211b1]{inset:0;position:absolute}.frame .frame-iframe[data-v-409211b1]{border:0;box-sizing:border-box;height:100%;overflow:hidden;width:100%}.main-content[data-v-409211b1]{margin:2px 0 0!important}
